{
  "presets": [
    [
      "@babel/preset-env", {
        "targets": {
          "browsers": ["since 2018-01"],
        },
      }
    ],
  ],
  "plugins": [
    "@babel/plugin-transform-runtime"
  ]
}